/* Form Persetujuan Custom Stylesheet */

/*----------------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------------*/
#approvalSupply tbody .action
{
	width: 100px;
}

#approvalSupply tbody .action a
{
	display: inline-block;
	float: left;
}

/*----------------------------------------------------------------------------*/
/* Status
/*----------------------------------------------------------------------------*/
#approvalSupply tr .reset
{
	display: inline-block;
	margin: 2.5px 0;
}